/* CSS Document */

/* Reset */
body		{padding:0;margin:0;font:13px Arial,Helvetica,Garuda,sans-serif;*font-size:small;*font:x-small;}
h1,h2,h3,h4,h5,h6,ul,li,em,strong,pre,code {padding:0;margin:0;line-height:1em;font-size:100%;font-weight:normal;font-style: normal; }
table		{font-size:inherit;font:100%;}
ul{list-style:none;}
img{border:0;}
p{margin:0}

/* Global */
 body { background-color:#903; }

/* Headings */

h1, h2, h3, h4	{font-weight:bold;}

h1	{font-size:40px; margin:0 auto; display:inline;}
h2	{padding:0; margin:2px 0px; color:#900; font-size:30px; display:inline; }
h3	{font-size: 18px; color: #900; display:inline; }
h4	{font-size: 15px; color: #000; display:inline; }
h5	{color:#666; font-weight:bold; margin:0px 0px 3px 0px;}
h6  {color:#7D0200; font-size: 14px; margin-right: 5px;}

/* Text Elements */

p						{color:#000; margin-bottom:10px;}
p .left					{	}
p .right				{	}

a						{text-decoration:none;}
a:link					{color:#000}
a:visited				{color:#000	}
a:active				{color:#000	}
a:focus					{color:#666}
a:hover					{color:#666}

li {}

/* Images */

.image-frame			{padding:10px; border:1px #CCC solid; margin:10px; text-align:center;}

/* Lists */

ul {margin:0; padding:0; list-style-type: none;}

/* Tables */

/* Miscellaneous */

.date 					{color:#666; font-weight:bold; 
						margin:0px 0px 3px 0px;}
.black					{color:#000}
	
/* Containers */

#metanav					{margin:0; padding:0; height:30; width:100% auto; background-color:#300;}

#metanav-links				{margin:0; padding:0; width:700; height:30px; float:right; background-color:#300;	}
	
	#metanav-links ul					{
										padding:7px; 
										float:right;
										}
	#metanav-links ul li				{
										display:inline; 
										font-size:12px; 
										color:#FFF; 
										padding: 0px 5px;
										}
	#metanav-links ul li a				{
										text-decoration: none;
										}
	#metanav-links ul li a:link			{
										color:#FFF
										}
	#metanav-links ul li a:visited		{
										color:#FFF	
										}
	#metanav-links ul li a:active		{color:#000}
	#metanav-links ul li a:focus		{color:#666}
	#metanav-links ul li a:hover		{color:#666}

#ulm-icon								{width: 32; float:right;}
	
#outer	 								{
										width:900px; height: 100%;
										margin:0 auto; 
										background-color: #FFF
										 }

#wrapper 								{
										width:900px; 
										margin:0 auto;
										}

#banner-text							{color:#900; padding:2px; padding-left:4px; }

#image-banner			{width:900px; margin:0px;}

#main-body				{width: 900px; height: 100%; margin:0px auto; }

#main-body a			{color:#600;					}

	#left-navigation-panel	{
	width:150px; height:100% auto;
	float:left; }
	
		#left-navigation-panel ul {margin-left:3px; float:left; }
		#left-navigation-panel ul li	{margin-left:0px; padding-top:6px; font-size:12px;}
		#left-navigation-panel ul li a:hover	{color:#999}

		#left-navigation-panel ul li img {padding-top:40px;		}
	
	
	#right-reference-panel	{
		width:200;
		float:right;
		height:100%;
		
		padding:5px;
		position: relative;
		margin:0px auto;
							}

	#middle-display-panel	{
							width:550px;
							height:100%;
							margin:0;
							border-right: 1px #000 solid;
							border-left: 1px #000 solid;
							}
	
		#topnav { }
		#topnav ul				{
								margin: 0px auto; padding:5px 5px 20px 5px;
								text-align:center
								}
		#topnav ul li			{
								padding:0 15px; 
								display:inline; 
								font-size:12px;
								}
		#topnav ul li a:hover	{color:#999}			
		
		#centertext				{
								padding:0px 20px;
								}
	
						
#bottom-banner-text		{clear:both; margin:0; border-top:1px #999 solid;
						text-align:center; padding:0px; margin:0;}
#
