<!-- <aside id="leftnav">
    <ul>
        <li>
            <img src="images/ULM Circle Logo.jpg" alt="University of Louisiana at Monroe Logo" width="119" height="118">
        </li>
        <li>
            <img src="images/ulm-warhawks.jpeg" alt="ULM Warhawks" width="125" height="85">
        </li>
    </ul>
</aside>
 -->
<ul>
    <li>
        <img src="images/ULM Circle Logo.jpg" alt="University of Louisiana at Monroe Logo" width="119" height="118">
    </li>
    <li>
        <img src="images/ulm-warhawks.jpeg" alt="ULM Warhawks" width="125" height="85">
    </li>
    <li>
        <img src="images/ulm_logo.png" alt="ULM logo" width="8000" height="8000">
    </li>
</ul>