<!-- Primary Navigation -->
<nav id="primary-nav">
    <ul>
        <li><a href="/index.html"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/mylaboratory.html"><i class="fas fa-flask"></i> Laboratory</a></li>
        <li><a href="/carbontower.html"><i class="fas fa-tree"></i> Carbon Tower</a></li>
        <li><a href="/phenocam.html"><i class="fas fa-camera"></i> Phenocam</a></li>
        <li><a href="/ouchita.html"><i class="fas fa-water"></i> Ouachita WMA</a></li>
        <li><a href="/canp.html"><i class="fas fa-leaf"></i> Allen Nature Preserve</a></li>
        <li><a href="/gallery.html"><i class="fas fa-images"></i> Gallery</a></li>
        <li><a href="/links.html"><i class="fas fa-link"></i> Links</a></li>
        <!-- <li><a href="/news.html"><i class="fas fa-link"></i> News</a></li> -->
    </ul>
</nav>