<div id="metanav">
    <div id="ulm-icon">
        <img src="images/ulm_logo.png" alt="ULM" style="height: 50px;">
    </div>

    <div id="metanav-links">
        <ul>
            <li><a href="http://ulm.edu/biology/">Department of Biology</a></li>
            <li><a href="http://ulm.edu/biology/faculty.html">Faculty</a></li>
            <li><a href="http://ulm.edu/biology/undergraduate-program.html">Undergraduate Program</a></li>
            <li><a href="http://ulm.edu/biology/graduate-program.html">Graduate Program</a></li>
            <li><a href="http://ulm.edu/biology/student-groups.html">Student Groups</a></li>
            <li><a href="http://ulm.edu/biology/browse-on-the-bayou.html">Browse on the Bayou</a></li>
        </ul>
    </div>
</div>
