
<!-- Meta Navigation (Top Bar) -->
<!-- <div id="metanavtop"style="border: 2px solid blue;">


    <div class="meta-content">
        <div id="ulm-icon">
            <img src="images/ulm_logo.png" alt="ULM">
        </div>

        <div class="navLinks">
            <ul>
                <li><a href="http://ulm.edu/biology/"><i class="fas fa-university"></i> Department of Biology</a></li>
                <li><a href="http://ulm.edu/biology/faculty.html"><i class="fas fa-user-tie"></i> Faculty</a></li>
                <li><a href="http://ulm.edu/biology/undergraduate-program.html"><i class="fas fa-book"></i>
                        Undergraduate</a></li>
                <li><a href="http://ulm.edu/biology/graduate-program.html"><i class="fas fa-graduation-cap"></i>
                        Graduate</a></li>
                <li><a href="http://ulm.edu/biology/student-groups.html"><i class="fas fa-users"></i> Student Groups</a>
                </li>
                <li><a href="http://ulm.edu/biology/browse-on-the-bayou.html"><i class="fas fa-map-marked-alt"></i>
                        Browse on the Bayou</a></li>
            </ul>
        </div>


    </div>
</div> -->

<!-- Primary Navigation -->
<nav id="primary-nav">
    <ul>
        <li><a href="/index.html"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/mylaboratory.html"><i class="fas fa-flask"></i> Laboratory</a></li>
        <li><a href="/carbontower.html"><i class="fas fa-tree"></i> Carbon Tower</a></li>
        <li><a href="/phenocam.html"><i class="fas fa-camera"></i> Phenocam</a></li>
        <li><a href="/ouchita.html"><i class="fas fa-water"></i> Ouachita WMA</a></li>
        <li><a href="/canp.html"><i class="fas fa-leaf"></i> Allen Nature Preserve</a></li>
        <li><a href="/gallery.html"><i class="fas fa-images"></i> Gallery</a></li>
        <li><a href="/links.html"><i class="fas fa-link"></i> Links</a></li>
    </ul>
</nav>